<!doctype html>
<html>
<head>
    <include file="public@head"/>
    <title>微博授权</title>
    <meta name="description" content="微博授权">
    <meta name="keywords" content="微博授权">
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>微博授权</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form margin-top-20">

        <if condition="$config['time']">
            <div class="form-group">
                <label class="col-sm-2 control-label">授权时间</label>
                <div class="col-md-6 col-sm-10">
                    <input class="form-control" type="text" style="width:400px;" required value="{:date('Y-m-d H:i:s',$config['time'])}" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">更新授权</label>
                <div class="col-md-6 col-sm-10">
                    <a href="{$config.location}" class="btn btn-warning " >更新</a>
                </div>
            </div>
        <else/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">获取授权</label>
                    <div class="col-md-6 col-sm-10">
                        <a href="{$config.location}" class="btn btn-warning " >授权</a>
                    </div>
                </div>
        </if>
    </form>
</div>
</body>
</html>